:root {
    
    --color-black: #060606;
    --color-white: #ffffff;
    --color-bg:#fff;
    --color-white--grey:#abb8c3;
    --color-border--light:#eee;
    --color-grey: hsl(217, 19%, 35%);
    --color-orange: #f9580e;    
    --color-bg--scoll:#0D1326;
    --color-light--pink:#f9580e1f;
    --color-bg--light:#fbfbfb;
    --color-font: #707070;
    --box-shadow-color: rgb(0 0 0 / 7%);
    --box-shadow-color-2: rgb(0 0 0 / 3%);
    --box-shadow-map: rgb(0 0 0 / 6%);
    --color-border: #eee;
}

